.divDetail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1368px;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(254, 253, 226) 45%, rgb(254, 253, 226) 55%, rgb(0, 0, 0) 100%)
}

.buttonHome1{
    background-color: olivedrab;
    color: lightgoldenrodyellow;
    float: left;
    position: inline-block;
    font-size: medium;
    margin-left: 15px;
    margin-top: 15px;
    height: 40px;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.buttonHome1:hover{
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%)
}

#home{
    margin-left: 40px
}

.create{
    background-color: olivedrab;
    color: lightgoldenrodyellow;
    float: left;
    position: inline-block;
    font-size: medium;
    margin-left: 15px;
    margin-top: 15px;
    height: 40px;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.create:hover{
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%);
}

#create{
    margin-left: 40px
}

.asd{
    display: inline-block;
    padding: 0;
    margin: 0.5em;
    font-size: large;
}

.asd li {
    display:inline-block;
}

.name{
    color: #6b705c;
    margin-top: 0px;
    align-items: center;
    font-size: xx-large;
    cursor: default;
    letter-spacing: 2px;
    text-shadow: 2px 2px black;
}

.image{
    display: inline;
    max-height: 350px;
    max-width: 450px;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
    border-radius: 8px;
}

.allTemps {
    display: flex;
    font-size: medium;
    color: olivedrab;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.caracts{
    color: #6b705c;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1px 1px black;
    margin-top: 15px;
    cursor: default;
}

.p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: olivedrab;
    font-weight: bold;
    font-size: large;
    text-shadow: 1px 1px 1px black;
    margin-top: 1em;
}

.loading{
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(254, 253, 226) 45%, rgb(254, 253, 226) 55%, rgb(0, 0, 0) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dogChasingTail {
    display: flex;
    position: relative;
    top: 40px;
    width: 25%;
    left: 500px;
    border-radius: 25px;
}

.loader {
    display: flex;
    position:relative;
    top: 80px;
    height: 10%;
    width: 25%;
    left: 500px;
    border-radius: 25px;
}

@media (max-width: 576px) {
    .image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 300px;
    }
}