.home {
    background: linear-gradient(90deg, rgb(254, 253, 226) 0%, rgb(0, 0, 0) 50%, rgb(254, 253, 226) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
}

.nav {
    background: linear-gradient(-180deg, rgb(0, 0, 0) 0%, rgb(254, 253, 226) 50%, rgba(0, 0, 0) 100%);
    margin-bottom: 10px;
    height: 110px;
}

.createDog {
    position: absolute;
    right: 150px;
    top: 25px;
    word-spacing: 5px;
}

.createDog a {
    font-family: monospace;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    background-color: olivedrab; 
    color: lightgoldenrodyellow;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(110, 178, 199);
}

.createDog:hover a {
    color: lightgoldenrodyellow;
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%);
}

.divReset{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100px;
    top: 0px;
    left: 620px;
    justify-content: center;
}

.buttonReset {
    height: 35px;
    color: black;
    text-decoration: none;
    border: none;
    box-shadow: 3px 3px 3px rgba(150, 190, 210);
    background-color: olivedrab; 
    color: lightgoldenrodyellow;
    border-radius: 5px;
    cursor: pointer;
}

.buttonReset:hover {
    color: lightgoldenrodyellow;
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%);
    border-color: black;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alphabeticalOrder {
    position: relative;
    top: 20px;
    margin-right: 4px;
    right: 5px;
}

.labels {
    color: rgb(254, 253, 226);
    font-weight: bold;
    margin-left: 5px;
}

.selects {
    border-radius: 5px;
    border-color: rgb(166, 172, 189);
    width: 105px;
    margin-left: 10px;
    background-color: olivedrab;
    color: lightgoldenrodyellow;
    scrollbar-base-color: transparent;
    font-weight: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.orderByWeight {
    position: relative;
    top: 25px;
    margin-right: 4px;
    right: 8px;
}

.filterByTemperaments {
    position: relative;
    top: 30px;
    margin-right: 4px;
    right: 16px;
}

.filterByBreeds {
    position: relative;
    top: 35px;
    right: 5px;
}

.dogChasingTailGif {
    position: relative;
    top: 80px;
    left: 0px;
}

.loaderGif {
    position: relative;
    top: -50px;
    left: 0px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap:10px;
    grid-row-gap: 50px;
    justify-content: space-evenly;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
}


::-webkit-scrollbar {
    width: 10px;
    background: rgb(254, 253, 236);
    overflow-y: visible;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(107, 142, 35, 0.5);
}

.sadDogGif {
    position: relative;
    display: flex;
    left: 80px;
    top: 100px;
}

.paginado{
    position: relative;
    display: flex;
    top: 40px;
    left: 240px;
}
