.home {
    background: rgb(40, 120, 90);
    position: relative;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
}

.nav {
    background: linear-gradient(-180deg, rgb(150, 190, 210) 10%, rgb(121, 112, 161) 100%);
    margin-bottom: 10px;
    height: 110px;
}

.createDog {
    position: absolute;
    left: 1000px;
    top: 25px;
    word-spacing: 5px;
}

.createDog a {
    font-family: monospace;
    text-decoration: none;
    color: rgb(45, 57, 68);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: rgba(255,0,60,1);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(110, 178, 199);
}

.createDog:hover a {
    background-color: rgba(131, 124, 133, 0.548);
}

.divReset{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100px;
    top: 20px;
    left: 80px;
}

.buttonReset {
    width: 120px;
    height: 28px;
    color: white;
    font-weight: bold;
    border: none;
    box-shadow: 3px 3px 3px rgba(150, 190, 210);
    background-color: rgb(82, 143, 87); 
    border-radius: 5px;
    cursor: pointer;
}

.buttonReset a {
    font-family: monospace;
    color: rgb(45, 57, 68);
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background-color: rgba(255,0,60,1);
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(110, 178, 199);
}

.buttonReset:hover a {
    background-color: rgba(131, 124, 133, 0.548);
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alphabeticalOrder {
    position: relative;
    top: 60px;
    margin-right: 4px;
    right: 5px;
}

.labels {
    color: rgb(38, 19, 68);
    font-weight: bold;
    margin-left: 5px;
}

.selects {
    border-radius: 5px;
    border-color: rgb(166, 172, 189);
    width: 88px;
    background-color: rgb(100, 148, 120);
    color: rgb(238, 255, 247);
    font-weight: 700;
}

.orderByWeight {
    position: relative;
    top: 60px;
    margin-right: 4px;
    right: 5px;
}

.orderByHeight {
    position: relative;
    top: 60px;
    margin-right: 4px;
    right: 5px;
}

.filterByTemperaments {
    position: relative;
    top: 60px;
    margin-right: 4px;
    right: 5px;
}

.filterByBreeds {
    position: relative;
    top: 60px;
    right: 5px;
}


.dogChasingTailGif {
    position: relative;
    top: 80px;
    left: 0px;
}

.loaderGif {
    position: relative;
    top: -50px;
    left: 0px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap:30px;
    grid-row-gap: 50px;
    justify-content: space-evenly;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    margin-left: 100px;
}


::-webkit-scrollbar {
    width: 10px;
    background: rgb(20, 0, 32) ;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(91, 151, 86, 0.2);
}

.noResultsDiv {
    position: relative;
    background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 100vh;
    color: rgb(49, 9, 39);
}

.noResultsDiv h3 {
    position: relative;
    left: 80px;
    top: 100px;
}

.sadDogGif {
    position: relative;
    display: flex;
    left: 80px;
    top: 100px;
}