.home {
    background: linear-gradient(90deg, rgb(254, 253, 226) 0%, rgb(0, 0, 0) 50%, rgb(254, 253, 226) 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    max-width: 120em;
}

.nav {
    background: linear-gradient(-180deg, rgb(0, 0, 0) 0%, rgb(254, 253, 226) 50%, rgba(0, 0, 0) 100%);
    margin-bottom: 0.5em;
    height: 6em;
}

.createDog {
    position: absolute;
    right: 9.4em;
    top: 1.5em;
    word-spacing: 5px;
}

.createDog a {
    font-family: monospace;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    padding: 0.3em;
    background-color: olivedrab; 
    color: lightgoldenrodyellow;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em 0.2em rgb(110, 178, 199);
}

.createDog:hover a {
    color: lightgoldenrodyellow;
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%);
}

.divReset{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttonReset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2.20em;
    color: black;
    text-decoration: none;
    border: none;
    box-shadow: 0.2em 0.2em 0.2em rgba(150, 190, 210);
    background-color: olivedrab; 
    color: lightgoldenrodyellow;
    border-radius: 0.3em;
    cursor: pointer;
}

.buttonReset:hover {
    color: lightgoldenrodyellow;
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%);
    border-color: black;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alphabeticalOrder {
    position: relative;
    top: 1.25em;
    margin-right: 0.25em;
    right: 0.3em;
}

.labels {
    color: rgb(254, 253, 226);
    font-weight: bold;
    margin-left: 0.3em;
}

.selects {
    border-radius: 0.3em;
    border-color: rgb(166, 172, 189);
    width: 6.55em;
    margin-left: 0.6em;
    background-color: olivedrab;
    color: lightgoldenrodyellow;
    scrollbar-base-color: transparent;
    font-weight: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.orderByWeight {
    position: relative;
    top: 1.55em;
    margin-right: 0.25em;
    right: 0.5em;
}

.filterByTemperaments {
    position: relative;
    top: 1.88em;
    margin-right: 0.25em;
    right: 1em;
}

.filterByBreeds {
    position: relative;
    top: 2.20em;
    right: 0.3em;
}

.dogChasingTailGif {
    position: relative;
    top: 5em;
    left: 0em;
}

.loaderGif {
    position: relative;
    top: -3.10em;
    left: 0em;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap:0.6em;
    grid-row-gap: 3.10em;
    justify-content: space-evenly;
    justify-content: center;
    align-content: space-evenly;
    align-items: center;
    margin-left: 6.25em;
    margin-top: 6.25em;
}


::-webkit-scrollbar {
    width: 0.6em;
    background: rgb(254, 253, 236);
    overflow-y: visible;
}

::-webkit-scrollbar-thumb {
    border-radius: 0.3em;
    background-color: rgba(107, 142, 35, 0.5);
}

.sadDogGif {
    position: relative;
    display: flex;
    left: 5em;
    top: 6.25em;
}

.paginado{
    position: relative;
    display: flex;
    top: 2.5em;
    left: 15em;
}

@media (max-width: 1200px) {
    body {
        font-size: 12px;
    }
    .home {
        max-width: 1200px;
    }
    .buttonReset {
        font-size: 1.2em;
    }
    .nav {
        height: 7em;
    }
    .createDog {
        margin-top: -0.1em;
        font-size: large;
        margin-right: -6em;
    }
}

@media (max-width: 992px) {
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        column-gap:0.4em;
        grid-row-gap: 2.10em;
    }
}

@media (max-width: 768px) {
    .parent {
        display: grid;
        column-gap:0.4em;
        grid-row-gap: 2.10em;
        margin-left: 2em;
        margin-top: 6.25em;
    }
}

@media (max-width: 576px) {
    .createDog {
        display: flex;
        flex-direction: column;
        margin-top: -0.2em;
        font-size: medium;
        margin-right: -9.2em;
        word-spacing: 1px;
    }
    .parent {
        display: flex;
        flex-direction: column;
        grid-row-gap: 2em;
        justify-content: center;
        align-items: center;
        margin-top: 6.25em;
    }
}