.card {
    position: relative;
    color: rgb(255, 255, 255);
    background: linear-gradient(-180deg, olivedrab 0%, rgb(146, 207, 187) 50%, olivedrab 100%);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin: 2px;
    border-radius: 2em;
    border-style:solid;
    border-color:olivedrab;
    transition: 0.4s;
    align-items: center;
}

.card:hover {
    box-shadow: 0 0 10px rgba(19, 40, 228),
                0 0 20px rgb(122, 122, 150),
                0 0 30px rgb(122, 122, 150),
                0 0 40px rgba(19, 40, 228);
    transform: translate3d(0.1ch, 0.1in, 8em);
    background: linear-gradient(rgba(8, 10, 10, 0.6), rgba(12, 74, 85, 0.6));
    color: gold;                
} 

.bodyCard{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    object-fit: cover;
    object-position: center;
}

.card img {
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    width: 310px;
    height: 220px;
}

.names {
    padding: 2px;
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%);
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: large;
    text-decoration: none;
}

.temps {
    padding: 2px;
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%);
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: small;
}