.card {
    position: relative;
    color: rgb(255, 255, 255);
    background: linear-gradient(-180deg, olivedrab 0%, rgb(146, 207, 187) 50%, olivedrab 100%);
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    border-style:solid;
    border-color:olivedrab;
    transition: 0.4s;
    align-items: center;
}

.card:hover {
    box-shadow: 0 0 20px rgba(75, 0, 130),
                0 0 20px rgb(146, 207, 187),
                0 0 30px rgb(146, 207, 187),
                0 0 60px rgba(75, 0, 130);
    transform: translate3d(0.1ch, 0.1in, 8em);
    background: linear-gradient(rgba(8, 10, 10, 0.6), rgba(107, 142, 35, 0.6));
    color:greenyellow;      
    text-decoration: underline rgba(107, 142, 35, 0.6);
} 

.bodyCard{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    object-position: center;
}

.card img {
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    width: 310px;
    height: 220px;
}

.names {
    padding: 1px;
    letter-spacing: 0.18em;
    font-size: large;
    text-decoration: underline olivedrab;
    border-bottom: 0.5px solid;
}

.temps {
    padding: 2px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: small;
    text-decoration: underline olivedrab;
}

@media (max-width: 992px) {
    .card {
        margin: 0em;
    }
}