.general {
    position: flex;
    flex-direction: column;
    background: linear-gradient(90deg, rgb(254, 253, 226) 0%, rgb(0, 0, 0) 50%, rgb(254, 253, 226) 100%);
    height: 768px;
    width: 1366px;
}

@media (max-width: 1200px) {
    .transparentForm {
        max-width: 1200px;
        max-height: 850px;
        margin-top: 0.2em;
        margin-left: -10em;
    }
    .backToHomeButton {
        margin-left: 0.4em;
        margin-bottom: -0.5em;
    }
    .buttonDone {
        margin-bottom: -0.5em;
        justify-content: center;
        margin-right: 0.8em;
    }
    .labelTemperaments {
        margin-top: 0.3em;
        margin-left: 0em;
    }
    .selectTemperaments {
        left: 18em;
        top: 21.2em;
        max-width: 12em;
    }
}

@media (max-width: 992px) {
    .transparentForm {
        max-width: 992px;
        max-height: 650px;
        margin-top: 0.2em;
        margin-left: -20em;
    }
}

@media (max-width: 768px) {
    .transparentForm {
        max-width: 580px;
        max-height: 650px;
        margin-top: -0.5em;
        margin-left: -29em;
    }
    .labelTemperaments {
        margin-left: -1em;
    }
    .selectTemperaments {
        left: 17em;
    }
}

@media (max-width: 576px) {
    .general {
        background: linear-gradient(90deg, rgb(254, 253, 226) 0%, rgb(0, 0, 0) 50%, rgb(254, 253, 226) 100%);
    }
    .transparentForm {
        max-width: 335px;
        max-height: 780px;
        margin-top: 3em;
        margin-left: -29em;
    }
    .transparentForm::before {
        position: relative;
        max-width: 720px;
        max-height: 850px;
    }
    .transparentForm::after {
        position: relative;
    }
    .input {
        max-width: 23em;
    }
    .backToHomeButton {
        margin-left: 2em;
        margin-bottom: 2em;
    }
    .buttonDone {
        margin-bottom: -0.8em;
        justify-content: center;
        margin-right: 2.2em;
    }
    .labelTemperaments {
        margin-top: 2.3em;
        margin-left: -6.7em;
    }
    .selectTemperaments {
        left: 11em;
        top: 23.5em;
        max-width: 9em;
    }
}

.title {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin-bottom: 40px;
    color: lightgoldenrodyellow;
    text-shadow: 2px 2px 2px rgba(87, 30, 119, 0.315);
    z-index: 2;
}

.transparentForm {
    background-color: rgba(153, 221, 229, 0.24);
    width: 620px;
    height: 620px;
    position: absolute;
    top: 20px;
    left: 350px;
    border-radius: 50px;
    overflow: hidden;
}

.transparentForm::before {
    content: '';
    position: absolute;
    left: -250px;
    top: -250px;
    width: 1100px;
    height: 1100px;
    background: linear-gradient(rgb(146, 207, 187), rgb(255, 0, 60), rgb(146, 207, 187), rgb(255, 0, 60),
                                rgb(146, 207, 187), rgb(255, 0, 60), rgb(146, 207, 187), rgb(255, 0, 60));
    animation: animate 5s linear 0s infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.transparentForm::after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 50px;
    background:linear-gradient(-180deg, rgb(185, 149, 108) 0%, rgb(185, 204, 218) 50%, rgba(185, 149, 108) 100%);
    overflow-x: hidden;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.div {
    position: relative;
    top: -30px;
    z-index: 2;
}

.input{
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    color: mediumpurple;
    border: none;
    width: 26em;
    height: 25px;
    margin-bottom: 10px;
    text-align-last: center;
    box-shadow: inset 2px 2px 5px black;
}

.divImage {
    position: relative;
    top: -30px;
    z-index: 2;
}

.divTemps {
    display: inline;
    top: -30px;
    z-index: 3;
}

.error{
    color: red;
    font-size: small;
    margin-top: 0;
}

.labelTemperaments {
    color: lightgoldenrodyellow;
    font-size: large;
    font-weight: bolder;
    position: absolute;
    left: 132px;
    top: 335px;
    z-index: 2;
}

.allTemps{
    display: inline;
    position: absolute;
    z-index: 5;
    color: indigo;
}

.temp{
    font-size: medium;
}

.x{
    background-color: olivedrab;
    color: lightgoldenrodyellow;
    border: transparent;
    border-radius: 4px;
    margin-left: 5px;
    width: auto;
    cursor: pointer;
}

.selectTemperaments {
    background-color: lightgoldenrodyellow;
    color: olivedrab;
    font-weight: bold;
    position: absolute;
    bottom: 15.62em;
    right: 8.4em;
    border-radius: 0.31em;
    border: none;
    width: 12em;
    height: 1.56em;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0.62em;  
    text-align-last: center;
    box-shadow: inset 2px 2px 5px black;
    z-index: 2;
}

.backToHomeButton {
    position: absolute;
    padding: 5px;
    right: 40px;
    z-index: 5;
    border-radius: 20px;
    border-style:none;
    width: 170px;
    height: 50px;
    left: 40px;
    bottom: 30px;
    font-size: 20px;
    color:olivedrab;
    font-weight: 700;
    background-color: lightgoldenrodyellow;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.backToHomeButton:hover {
    color: lightgoldenrodyellow;
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%); 
}


.buttonDone{
    position: absolute;
    right: 40px;
    bottom: 30px;
    width: 170px;
    height: 50px;
    padding: 5px;
    border-radius: 20px;
    border-style:none;
    font-size: 20px;
    color: olivedrab;
    font-weight: 700;
    background-color: lightgoldenrodyellow;
    box-shadow: 5px 5px 5px black;
    z-index: 2;
    cursor: pointer;
}

.buttonDone:hover {
    color: lightgoldenrodyellow;
    background: linear-gradient(90deg, rgb(122, 122, 150) 0%, rgb(25, 29, 29) 50%, rgb(122, 122, 150) 100%); 
}

