.paginado {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    font-size: medium;
}

.paginado li {
    display: inline;
}

.paginado li button {
    float: left;
    padding: 8px 18px;
    border-radius: 8px;
    background-color: #ddbea9;
    border: transparent;
    margin: 3px;
}

.paginado li button:hover{
    background-color: #cb997e;
    transform: translate3d(0.1ch, 0.1in, 7em);
    cursor: pointer;
    color: black;
}

.paginado li button:active{
    background-color: #cb997e;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.paginado li button:focus{
    background-color: #cb997e;
}

.numbers { 
    position: relative;
    background-color: rgb(0, 0, 0);
    color: brown;
    width: 35px;
    height: 35px;
    padding: 8px;
    margin: 4px;
    top: -5px;
    right: 5px;
    border-style:solid;
    border-color:brown;
    border-radius: 5px;   
}

.numbers:focus {
    background-color: rgba(63, 63, 63, 0.233);
    color: burlywood;
}