.landing {
    background-image: img("F:\Usuarios\Juan Grehuello\Desktop\SOY HENRY\PI-Dogs-main\client\src\components\images\doggies.png");
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: cornsilk;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image{
    width: 90%;
    height: 80%;
    padding-left: 0px;
}

.image2{
    position: relative;
    width: 3.5%;
    height: 5%;
    padding-left: 170px;
    top: 46px;
}

.buttonStart {
    position: absolute;
    top: 550px;
    left: 540px;
    width: 200px;
    letter-spacing: 2px;
    font-size: 22px;
    font-family: monospace;
    font-weight: 700;
    text-decoration-line: none;
    background-color: rgb(90, 172, 103);
    color: rgb(255, 235, 235);
    border-color: transparent;
    transition: 0.3s;
    border-radius: 4px;
}

.buttonStart:hover {
    background-color: rgb(88, 153, 179);
    box-shadow: 0 0 3px rgb(88, 153, 179), 0 0 6px rgb(88, 153, 179),
    0 0 15px rgb(88, 153, 179), 0 0 30px rgb(88, 153, 179);;
    cursor: pointer;
}