.landing {
    background-image: img("F:\Usuarios\Juan Grehuello\Desktop\SOY HENRY\PI-Dogs-main\client\src\components\images\doggies.png");
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonStart {
    position: absolute;
    top: 315px;
    left: 540px;
    width: 130px;
    letter-spacing: 2px;
    font-size: 22px;
    font-family: monospace;
    font-weight: 700;
    text-decoration-line: none;
    background-color: rgb(255, 0, 60);
    color: rgb(255, 235, 235);
    border-color: transparent;
    transition: 0.3s;
    border-radius: 4px;
}

.buttonStart:hover {
    background-color: rgb(255, 0, 60);
    box-shadow: 0 0 3px rgb(255, 0, 60), 0 0 6px rgb(255, 0, 60),
    0 0 15px rgb(255, 0, 60), 0 0 30px rgb(255, 0, 60);
    cursor: pointer;
}